/* Navbar styling */

.navBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navBar ul li {
    display: inline-block;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    margin: 2vw;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.397);
    border-radius: 5px;
}

a:-webkit-any-link {
    text-decoration: none;
    color: black;
    cursor: pointer;
    list-style-type: none;
  }
  /* Navbar styling ends */

  /* Body Background image styling  */

  body {
      background-image: url(/MealPlannerBackground.jpg);
      background-repeat: repeat;
      background-size: cover;
      height: 100vh;
  }
    /* Body Background image styling ends */